img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: yellow;
    background-color: rgb(2, 7, 82);
    text-align: center;
    padding: 15px;
}

p,
ul,
ol {
    font-size: 23px;
}

